.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  overflow: hidden;
  transition: opacity 0.5s ease-in-out max-height 0.5s ease-in-out;

}
nav ul {
  opacity: 1;
  pointer-events: auto;

}
nav.collapsed ul{
  pointer-events: none;
}
nav.collapsed{
  background-color:#1f2937;
  opacity:0;
  
}
nav.expanded {
  max-height: 500px; /* Adjust based on the content */
  background-color: #1f2937;
  opacity:1;
}